.navLinkContainer{
  width: 16rem;
  list-style: none;
  height: 89.2vh;
  background-color: rgb(32, 32, 43);
  
}
.navLinkContainer a{
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  color: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.logo{
  width: 20px;
}