.postDetailContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input{
  width: 400px;
  padding: 10px;
  margin: 10px;
  display: block;
}
.textarea{
  width: 400px;
  padding: 10px;
  height: 80px;
  display: block;
  margin: 10px;
}
.btn{
  width: 400px;
  padding: 10px;
  margin: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
}